<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta user="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker</title>
    <style>
      #h1 {
        text-align: center;
      }
      #user {
        list-style: none;
      }
      #leaderboard {
        display: contents;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 id="h1">How Are You Spend Your Summer Vaction .. ?</h1>

      <form id="my-form">
        <label for="Amount">Choose ExpenseAmount :</label>
        <input type="number" class="user" id="Amount" required />

        <label for="kis-chiz-pe">Choose Description :</label>
        <input type="text" class="user" id="kis-chiz-pe" required />

        <label for="kahaPe">Choose a category :</label>
        <select id="kahaPe" required>
          <option value="fuel">Fuel</option>
          <option value="electronic">Electronic</option>
          <option value="food">Food</option>
          <option value="movie">Movie</option>
          <option value="movie">On vacantion</option>
        </select>

        <input type="submit" class="btn" value="Submit" />
      </form>
      <span id="message"></span>
      <h1 id="expense"></h1>
      <ul id="user"></ul>
      <button id="rzp-button">Buy Premium</button>
      <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    </div>

    <ul id="leaderboard"></ul>
    <div id="downloadexpense" onclick="download()"></div>
    <div id="pagination">
      <div class="input-group mb-3">
        <select class="form-select" id="dynamicpagination">
            <option selected>Choose no Of expenses to show</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
    </div>
    </div>

    <script src="../public/js/expense.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
  </body>
</html>
