<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Screen Frontend</title>
  </head>
  <body>
    <form id="login">
      <label for="email">Enter email:</label>
      <input type="text" id="email" required/>

      <label for="pass">Password:</label>
      <input type="text" id="pass" required/>

      <input type="submit" value="Login"><br>
      <a href="../views/user.html">New User - Singup</a>
    </form>
    <script src="../public/js/login.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
  </body>
</html>
