<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Screen Frontend</title>
</head>
<body>
    <form id="my-form">
        <label for="user-name">Enter your name:</label>
        <input type="text" id="user-name" name="user-name" required>

        <label for="user-email">Enter your email:</label>
        <input type="text" id="user-email" name="user-email" required>

        <label for="user-pass">Pssword:</label>
        <input type="text" id="user-pass" name="user-pass" required>
        
        <input type="submit" type="button" value="Signup"><br>

        <a href="../views/login.html">Existing User - Login</a><br>
    </form>

    <script src="../public//js/user.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
</body>
</html>